html,body {
   margin: 0; 
}

.navbar-brand{
   margin:0;
   padding:0;
}

.nav-item{
   padding:1rem;
   font-size: 1.25rem;
}

#header-section{
   text-align: center;
   height:100vh;
   
}

.logo{
   padding-top:1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.resume-btn{
   margin-top: 2.5rem;
}
